{{define "pad-content"}}
	<form method="post">
		<div class="d-flex align-items-center justify-content-between mb-3 d-print-none">
		<div class="input-group">
				<a class="btn btn-primary" href="{{.Pad.Link}}/week/{{.EarlierYear}}/{{.EarlierWeek}}"><i class="fa-solid fa-backward"></i></a>
				<input class="form-control flex-grow-0" style="width: 7em" type="week" name="week" value="{{.ISOWeek}}" onchange="this.form.submit()">
				<a class="btn btn-primary" href="{{.Pad.Link}}/week/{{.LaterYear}}/{{.LaterWeek}}"><i class="fa-solid fa-forward"></i></a>
			</div>
			<div class="input-group justify-content-end">
				<a class="btn btn-primary" href="{{.Pad.Link}}/week/{{.ThisYear}}/{{.ThisWeek}}">{{$.Tr "This"}}</a>
				<a class="btn btn-primary" href="{{.Pad.Link}}/week/{{.NextYear}}/{{.NextWeek}}">{{$.Tr "Next"}}</a>
			</div>
		</div>
	</form>
	{{range .Errors}}
		<div class="alert alert-danger">{{$.Tr "Error"}}: {{.}}</div>
	{{end}}
	{{range $day := .Days}}
		<div class="d-flex align-items-center justify-content-between">
			<h5 id="{{FmtISODate .Begin}}">{{FmtDate .Begin}}</h5>
			{{if $.Pad.CanEditAnyShift}}
				<a class="btn btn-sm btn-primary my-1 d-print-none" href="{{$.Pad.Link}}/add/{{FmtISODate .Begin}}#shift">
					<i class="fa-solid fa-plus"></i>
					<span class="d-none d-md-inline">{{$.Tr "Create shifts"}}</span>
				</a>
			{{end}}
		</div>
		{{with .Groups}}
			<table class="table align-middle">
				<thead>
					<tr>
						<th>{{$.Tr "Time"}}</th>
						<th>{{$.Tr "Shift"}}</th>
						<th>{{$.Tr "Taker"}}</th>
						<th><!-- buttons --></th>
					</tr>
				</thead>
				{{range .}}
					<tbody class="table-group-divider">
						{{with .Event}}
							<tr class="table-secondary">
								<td>{{FmtDateTimeRangeRef .Start .End $day.Begin}}</td>
								<td colspan="3">
									{{if .URL}}
										<a href="{{.URL}}" rel="noreferrer" target="_blank">
									{{end}}
									{{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}
									{{if .URL}}
										</a>
									{{end}}
								</td>
							</tr>
						{{end}}
						{{range .Shifts}}
							<!-- TODO show one button, which is "take", "apply", or "...". Aus "..." werden dann die Buttons, d.h. keine weitere table row! -->
							<!-- $more conditions copied from below -->
							{{$more := or (and ($.Pad.CanTakeShift .) ($.Pad.CanApplyShift .)) ($.Pad.CanEditShift .)}}
							<tr>
								{{template "shift-cells" (MakeShiftCellsData $.Lang $.Pad $day .)}}
								<td class="text-end text-nowrap">
									{{if $.Pad.CanTakeShift .}}
										<a class="btn btn-sm btn-primary my-1 d-print-none" href="{{$.Pad.Link}}/take/{{.ID}}#shift">
											<i class="fa-solid fa-hand"></i>
											<span class="d-none d-md-inline">{{$.Tr "Take"}}</span>
										</a>
									{{else}}
										{{if $.Pad.CanApplyShift .}}
											<a class="btn btn-sm btn-primary my-1 d-print-none" href="{{$.Pad.Link}}/apply/{{.ID}}#shift">
												<i class="fa-solid fa-hand-point-up"></i>
												<span class="d-none d-md-inline">{{$.Tr "Apply"}}</span>
											</a>
										{{end}}
									{{end}}
									{{if $more}}
										<button class="btn btn-sm btn-primary my-1 d-print-none hide-me" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{.ID}}" aria-expanded="false" aria-controls="collapse-{{.ID}}">
											<i class="fa-solid fa-ellipsis"></i>
										</button>
										<div class="collapse" id="collapse-{{.ID}}">
											<!-- if apply button has been overruled by take button above -->
											{{if and ($.Pad.CanTakeShift .) ($.Pad.CanApplyShift .)}}
												<div><!-- for display:block and no margin collapse -->
													<a class="btn btn-sm btn-primary my-1 d-print-none" href="{{$.Pad.Link}}/apply/{{.ID}}#shift">
														<i class="fa-solid fa-hand-point-up"></i>
														<span class="d-none d-md-inline">{{$.Tr "Apply"}}</span>
													</a>
												</div>
											{{end}}
											{{if $.Pad.CanEditShift .}}
												<div><!-- for display:block and no margin collapse -->
													<a class="btn btn-sm btn-primary my-1 d-print-none" href="{{$.Pad.Link}}/edit/{{.ID}}#shift">
														<i class="fa-solid fa-pen-to-square"></i>
														<span class="d-none d-md-inline">{{$.Tr "Edit"}}</span>
													</a>
												</div>
												<div><!-- for display:block and no margin collapse -->
													<a class="btn btn-sm btn-primary my-1 d-print-none" href="{{$.Pad.Link}}/delete/{{.ID}}#shift">
														<i class="fa-solid fa-trash"></i>
														<span class="d-none d-md-inline">{{$.Tr "Delete"}}</span>
													</a>
												</div>
											{{end}}
										</div>
									{{end}}
								</td>
							</tr>
						{{end}}
					</tbody>
				{{end}}
			</table>
		{{else}}
			<p class="text-muted">{{$.Tr "No shifts or events yet."}}</p>
		{{end}}
	{{end}}
{{end}}
