{{define "pad-content"}}

	<form method="post" class="d-inline-block d-print-none mb-3">
		<div class="input-group">
			<a class="btn btn-primary" href="{{.Pad.Link}}/week/{{.EarlierYear}}/{{.EarlierWeek}}">&#8592;</a>
			<input class="form-control" type="week" name="week" value="{{.ISOWeek}}">
			<button class="btn btn-primary" type="submit">{{$.Tr "Go"}}</button>
			<a class="btn btn-primary" href="{{.Pad.Link}}/week/{{.ThisYear}}/{{.ThisWeek}}">{{$.Tr "This"}}</a>
			<a class="btn btn-primary" href="{{.Pad.Link}}/week/{{.NextYear}}/{{.NextWeek}}">{{$.Tr "Next"}}</a>
			<a class="btn btn-primary" href="{{.Pad.Link}}/week/{{.LaterYear}}/{{.LaterWeek}}">&#8594;</a>
		</div>
	</form>

	{{range .Errors}}
		<div class="alert alert-danger">{{$.Tr "Error"}}: {{.}}</div>
	{{end}}

	{{range $day := .Days}}
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title" id="{{FmtISODate .Begin}}">{{FmtDate .Begin}}</h5>
				{{with .Groups}}
					<table class="table align-middle mb-0">
						<thead>
							<tr>
								<th>{{$.Tr "Time"}}</th>
								<th>{{$.Tr "Quantity"}}</th>
								<th>{{$.Tr "Shift"}}</th>
								<th><!-- edit --></th>
								<th>{{$.Tr "Taker"}}</th>
							</tr>
						</thead>
						{{range .}}
							<tbody class="table-group-divider">
								{{with .Event}}
									<tr class="table-secondary">
										<td>{{FmtDateTimeRangeRef .Start .End $day.Begin}}</td>
										<td colspan="4">
											{{if .URL}}
												<a href="{{.URL}}" rel="noreferrer" target="_blank">
											{{end}}
											{{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}
											{{if .URL}}
												</a>
											{{end}}
										</td>
									</tr>
								{{end}}
								{{range .Shifts}}
									<tr>
										<td>{{FmtDateTimeRangeRef .Begin .End $day.Begin}}</td>
										<td>{{.Quantity}}</td>
										<td>{{.Name}} {{with .Note}}({{.}}){{end}}</td>
										<td>
											{{if $.Pad.CanEditShift .}}
												<a class="btn btn-sm btn-primary d-print-none" href="{{$.Pad.Link}}/edit/{{.ID}}">
													<span class="d-inline d-lg-none">&#x270E;</span>
													<span class="d-none d-lg-inline">{{$.Tr "Edit"}}</span>
												</a>
												<a class="btn btn-sm btn-primary d-print-none" href="{{$.Pad.Link}}/delete/{{.ID}}">
													<span class="d-inline d-lg-none">X</span>
													<span class="d-none d-lg-inline">{{$.Tr "Delete"}}</span>
												</a>
											{{end}}
										</td>
										<td>
											{{$shift := .}}
											{{range .TakeViews $.Pad.Auth}}
												<div class="mb-1">
													{{.Name}}
													{{with .Contact}}
														({{.}})
													{{end}}
													{{if not .Approved}}
														<span class="badge bg-warning">{{$.Tr "not yet approved"}}</span>
														{{if $.Pad.CanTakeShift $shift}}
															<a class="btn btn-sm btn-primary d-print-none" href="{{$.Pad.Link}}/approve/{{$shift.ID}}/{{.ID}}">
																<span class="d-inline d-lg-none">&#x2713;</span>
																<span class="d-none d-lg-inline">{{$.Tr "Approve"}}</span>
															</a>
														{{end}}
													{{end}}
												</div>
											{{end}}
											{{if $.Pad.CanTakeShift .}}
												<a class="btn btn-sm btn-primary d-print-none" href="{{$.Pad.Link}}/take/{{.ID}}">
													<span class="d-inline d-lg-none">&#x1F91D;</span>
													<span class="d-none d-lg-inline">{{$.Tr "Take"}}</span>
												</a>
											{{end}}
											{{if $.Pad.CanApplyShift .}}
												<a class="btn btn-sm btn-primary d-print-none" href="{{$.Pad.Link}}/apply/{{.ID}}">
													<span class="d-inline d-lg-none">&#x270B;</span>
													<span class="d-none d-lg-inline">{{$.Tr "Apply"}}</span>
												</a>
											{{end}}
										</td>
									</tr>
								{{end}}
							</tbody>
						{{end}}
					</table>
				{{end}}
				{{if $.Pad.CanEditSomeShift}}
					<a class="btn btn-sm btn-primary d-print-none mt-3" href="{{$.Pad.Link}}/add/{{FmtISODate .Begin}}">{{$.Tr "Create shifts"}}</a>
				{{end}}
			</div>
		</div>
	{{end}}
{{end}}
