{{define "pad-content"}}
	<form method="post">
		<div class="d-flex align-items-center mb-3 d-print-none">
			<div class="input-group flex-grow-1" style="flex-basis: content">
				<a class="btn btn-primary" href="{{.Pad.Link}}/month/{{.EarlierYear}}/{{.EarlierMonth}}"><i class="fa-solid fa-backward"></i></a>
				<input class="form-control flex-grow-0" style="width: calc(1.5rem + 8ch)" type="month" name="month" value="{{.Month}}" onchange="this.form.submit()">
				<a class="btn btn-primary" href="{{.Pad.Link}}/month/{{.LaterYear}}/{{.LaterMonth}}"><i class="fa-solid fa-forward"></i></a>
			</div>
			<div class="input-group flex-grow-1 justify-content-end me-2" style="flex-basis: content">
				<a class="btn btn-primary" href="{{.Pad.Link}}/week">
					<i class="fa-solid fa-calendar-week"></i>
					<span class="d-none d-md-inline">{{$.Tr "This week"}}</span>
				</a>
				<a class="btn btn-primary" href="{{.Pad.Link}}/month">
					<i class="fa-solid fa-calendar-days"></i>
					<span class="d-none d-md-inline">{{$.Tr "This month"}}</span>
				</a>
			</div>
			<a class="btn btn-primary" href="{{.Pad.Link}}/month/{{.UpcomingYear}}/{{.UpcomingMonth}}">
				<i class="fa-solid fa-forward-step"></i>
				<span class="d-none d-md-inline">{{$.Tr "Upcoming Month"}}</span>
			</a>
		</div>
	</form>
	{{template "pad-days" .}}
{{end}}
