{{define "title"}}
	{{with .Pad}}
		{{with .Name}}{{.}}{{else}}Unnamed Pad{{end}} {{with .Note}}({{.}}){{end}}
	{{end}}
{{end}}

{{define "body"}}
	<script>
		// copyHref detects the host on its own. The event.target href must not contain a host.
		function copyHref(event) {
			event.preventDefault();
			navigator.clipboard.writeText(location.protocol + '//' + location.host + event.target.getAttribute('href'));
			let classname = event.target.className;
			event.target.className = classname + " active";
			setTimeout(function() {
				event.target.className = classname;
			}, 1000);
		}
	</script>

	{{with .Pad}}
		<nav class="navbar navbar-expand-xxl navbar-light bg-light">
			<div class="container">
				<span class="navbar-brand">
					<a href="{{.Link}}" class="text-decoration-none text-dark text-truncate me-1">{{with .Name}}{{.}}{{else}}{{$.Tr "Unnamed Pad"}}{{end}}</a>
					{{with .Note}}
						<span class="badge bg-secondary fw-normal d-print-none">{{.}}</span>
					{{end}}
					{{with .Expires}}
						<span class="badge bg-secondary fw-normal d-print-none">{{$.Tr "Link expires"}} {{.}}</span>
					{{end}}
				</span>
				<button class="navbar-toggler d-print-none" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-print-none" id="menu">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{.Link}}" onclick="copyHref(event)">{{$.Tr "Copy link"}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{.Link}}/ical" onclick="copyHref(event)">{{$.Tr "Copy iCalendar"}}</a>
						</li>
						{{if .CanPayout}}
							<li class="nav-item">
								<a class="nav-link {{if eq $.ActiveTab "payout"}}active{{end}}" href="{{.Link}}/payout">{{$.Tr "Payout"}}</a>
							</li>
						{{end}}
						{{if .Admin}}
							<li class="nav-item">
								<a class="nav-link {{if eq $.ActiveTab "settings"}}active{{end}}" href="{{.Link}}/settings">{{$.Tr "Settings"}}</a>
							</li>
						{{end}}
						<li class="nav-item">
							<a class="nav-link {{if eq $.ActiveTab "share"}}active{{end}}" href="{{.Link}}/share">{{$.Tr "Share"}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled">{{.Location}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled">{{$.Tr "last changed"}} {{.LastUpdated}}</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{{with .Description}}
			<div class="bg-light pb-1">
				<div class="container small">
					{{Markdown .}}
				</div>
			</div>
		{{end}}
	{{end}}
	<div class="container pt-3 mb-5">
		{{template "pad-content" .}}
	</div>
{{end}}

{{define "shift-cells"}}
	<td class="lh-sm">{{FmtDateTimeRef .Shift.Begin .Day.Begin}} <span class="text-muted text-nowrap">–&hairsp;{{FmtDateTimeRef .Shift.End .Day.Begin}}</span></td>
	<td>{{.Shift.Quantity}} × {{.Shift.Name}} {{with .Shift.Note}}({{.}}){{end}} {{if .Shift.Paid}}<span class="badge bg-secondary">{{$.Tr "paid"}}</span>{{end}}</td>
	<td>
		{{range .Shift.TakeViews $.Pad.Auth}}
			<div>
				{{.Name}}
				{{with .Contact}}
					({{.}})
				{{end}}
				{{if not .Approved}}
					<span class="badge bg-warning">
						<i class="fa-solid fa-question"></i>
						<span class="d-none d-md-inline">{{$.Tr "applied"}}</span>
					</span>
				{{end}}
				{{if .PaidOut}}
					<span class="badge bg-secondary">
						<i class="fa-solid fa-dollar-sign"></i>
						<span class="d-none d-md-inline">{{$.Tr "paid out"}}</span>
					</span>
				{{end}}
			</div>
		{{end}}
	</td>
{{end}}
