{{define "pad-content"}}
	<script>
		function reset(element) {
			element.removeAttribute("min");
			element.value = element.defaultValue;
		}
		function addRow(element) {
			element.onchange = null;
			let row = element.closest('[role="row"]');
			let clone = row.cloneNode(true);
			reset(clone.querySelector('[name="quantity"]'));
			reset(clone.querySelector('[name="begin"]'));
			reset(clone.querySelector('[name="end"]'));
			reset(clone.querySelector('[name="name"]'));
			reset(clone.querySelector('[name="note"]'));
			row.after(clone);
		}
	</script>
	{{with .Error}}
		<div class="alert alert-danger">{{.}}</div>
	{{end}}
	<form method="post">
		{{with .Day}}
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">{{FmtDate .Begin}}</h5>
					{{with .Groups}}
						<table class="table align-middle">
							<thead>
								<tr>
									<th>{{$.Tr "Begin"}}</th>
									<th>{{$.Tr "End"}}</th>
									<th>{{$.Tr "Quantity"}}</th>
									<th>{{$.Tr "Shift"}}</th>
									<th>{{$.Tr "Taker"}}</th>
								</tr>
							</thead>
							{{range .}}
								<tbody class="table-group-divider">
									{{with .Event}}
										<tr class="table-secondary">
											<td>{{$.Day.FmtDateTime .Start}}</td>
											<td>{{$.Day.FmtDateTime .End}}</td>
											<td colspan="3">{{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}</td>
										</tr>
									{{end}}
									{{range .Shifts}}
										<tr>
											<td>{{$.Day.FmtDateTime .Begin}}</td>
											<td>{{$.Day.FmtDateTime .End}}</td>
											<td>{{.Quantity}}</td>
											<td>{{.Name}} {{with .Note}}({{.}}){{end}}</td>
											<td>
												{{template "takeviews" .TakeViews $.Pad.Auth}}
											</td>
										</tr>
									{{end}}
								</tbody>
							{{end}}
						</table>
					{{end}}
					{{with .Events}}
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" id="uid" type="radio" name="event-uid" value="" checked>
								<label class="form-check-label" for="uid">
									{{$.Tr "do not assign to an event"}}
								</label>
							</div>
							{{range .}}
								<div class="form-check">
									<input class="form-check-input"  id="uid-{{.UID}}" type="radio" name="event-uid" value="{{.UID}}">
									<label class="form-check-label" for="uid-{{.UID}}">
										{{$.Day.FmtDateTimeRange .Start .End}}: {{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}
									</label>
								</div>
							{{end}}
						</div>
					{{end}}
					<div class="row my-3" role="row"><!-- role is used in javascript functions -->
						<div class="col-lg-3 mb-1">
							<div class="input-group">
								<span class="input-group-text">{{$.Tr "Begin"}}</span>
								<input class="form-control" type="datetime-local" name="begin" onchange="updateEnd(this)" value="{{FmtISODate .Begin}}T10:00" min="{{$.MinDate}}" max="{{$.MaxDate}}">
							</div>
						</div>
						<div class="col-lg-3 mb-1">
							<div class="input-group">
								<span class="input-group-text">{{$.Tr "End"}}</span>
								<input class="form-control" type="datetime-local" name="end" onchange="updateBegin(this)" value="{{FmtISODate .Begin}}T11:00" min="{{$.MinDate}}" max="{{$.MaxDate}}">
							</div>
						</div>
						<div class="col-lg-2 mb-1">
							<div class="input-group">
								<span class="input-group-text">{{$.Tr "Quantity"}}</span>
								<input class="form-control" type="number" name="quantity" min="1" max="64" value="1">
							</div>
						</div>
						<div class="col-lg-4 mb-1">
							<div class="input-group">
								{{if $.Pad.EditAll}}
									<datalist id="shiftnames">
										{{range $.Pad.ShiftNames}}
											<option value="{{.}}">
										{{end}}
									</datalist>
									<input class="form-control" type="text" name="name" list="shiftnames" maxlength="64" placeholder="{{$.Tr "Shift name"}}" onchange="addRow(this)">
								{{else}}
									{{with $.Pad.EditShiftNames}}
										<select class="form-select" name="name" onchange="addRow(this)">
											{{if gt (len .) 1}}
												<option></option>
											{{end}}
											{{range .}}
												<option value="{{.}}">{{.}}</option>
											{{end}}
										</select>
									{{else}}
										<em>{{$.Tr "no shifts available"}}</em>
									{{end}}
								{{end}}
								<input class="form-control" type="text" name="note" maxlength="64" placeholder="{{$.Tr "Note"}}">
							</div>
						</div>
					</div>

					<button class="btn btn-primary" type="submit">{{$.Tr "Create shifts"}}</button>
					<a class="btn btn-light" href="{{$.Pad.Link}}/day/{{FmtISODate .Begin}}">{{$.Tr "Cancel"}}</a>
				</div>
			</div>
		{{end}}
	</form>
{{end}}
