{{define "pad-content"}}
	<form method="post">
		{{with .Day}}
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">{{FmtDate .Begin}}</h5>
					{{with .Groups}}
						<table class="table align-middle">
							<thead>
								<tr>
									<th>{{$.Tr "Time"}}</th>
									<th>{{$.Tr "Quantity"}}</th>
									<th>{{$.Tr "Shift"}}</th>
									<th>{{$.Tr "Taker"}}</th>
								</tr>
							</thead>
							{{range .}}
								<tbody class="table-group-divider">
									{{with .Event}}
										<tr class="table-secondary">
											<td>{{FmtDateTimeRangeRef .Start .End $.Day.Begin}}</td>
											<td colspan="3">{{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}</td>
										</tr>
									{{end}}
									{{range .Shifts}}
										{{if eq .ID $.Shift.ID}}
											<tr class="table-warning">
												<td>{{FmtDateTimeRangeRef .Begin .End $.Day.Begin}}</td>
												<td>{{.Quantity}}</td>
												<td>{{.Name}} {{with .Note}}({{.}}){{end}} {{if .Paid}}<span class="badge bg-secondary">{{$.Tr "paid"}}</span>{{end}}</td>
												<td>
													{{$shift := .}}
													{{range .TakeViews $.Pad.Auth}}
														<div class="mb-1">
															{{.Name}}
															{{with .Contact}}
																({{.}})
															{{end}}
															{{if not .Approved}}
																<span class="badge bg-warning">not yet approved</span>
															{{end}}
															{{if or $shift.Paid .PaidOut}}
																{{if .PaidOut}}<span class="badge bg-primary">{{$.Tr "paid out"}}</span>{{else}}<span class="badge bg-info">{{$.Tr "not paid out yet"}}</span>{{end}}
															{{end}}
														</div>
													{{end}}
													<div class="input-group">
														{{with $.TakerNames}}
															<select class="form-select" name="taker-name">
																{{if gt (len .) 1}}
																	<option></option>
																{{end}}
																{{range .}}
																	<option value="{{.}}">{{.}}</option>
																{{end}}
															</select>
														{{else}}
															<input type="text" class="form-control" name="taker-name" maxlength="64" placeholder="{{$.Tr "Name"}}">
														{{end}}
														<input type="text" class="form-control" name="taker-contact" maxlength="128" placeholder="{{$.Tr "Contact"}}">
													</div>
												</td>
											</tr>
										{{else}}
											<tr>
												<td>{{FmtDateTimeRangeRef .Begin .End $.Day.Begin}}</td>
												<td>{{.Quantity}}</td>
												<td>{{.Name}} {{with .Note}}({{.}}){{end}} {{if .Paid}}<span class="badge bg-secondary">{{$.Tr "paid"}}</span>{{end}}</td>
												<td>
													{{$shift := .}}
													{{range .TakeViews $.Pad.Auth}}
														<div class="mb-1">
															{{.Name}}
															{{with .Contact}}
																({{.}})
															{{end}}
															{{if not .Approved}}
																<span class="badge bg-warning">not yet approved</span>
															{{end}}
															{{if or $shift.Paid .PaidOut}}
																{{if .PaidOut}}<span class="badge bg-primary">{{$.Tr "paid out"}}</span>{{else}}<span class="badge bg-info">{{$.Tr "not paid out yet"}}</span>{{end}}
															{{end}}
														</div>
													{{end}}
												</td>
											</tr>
										{{end}}
									{{end}}
								</tbody>
							{{end}}
						</table>
						<button class="btn btn-primary" type="submit">
							{{if $.Apply}}
								{{$.Tr "Apply for shift"}}
							{{else}}
								{{$.Tr "Take shift"}}
							{{end}}
						</button>
					{{end}}
					<a class="btn btn-light" href="{{$.Pad.Link}}/day/{{FmtISODate .Begin}}">{{$.Tr "Cancel"}}</a>
				</div>
			</div>
		{{end}}
	</form>
{{end}}
