{{define "pad-content"}}
	<form method="post">
		{{with .Day}}
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">{{FmtDate .Begin}}</h5>
					{{with .Groups}}
						<table class="table align-middle">
							<thead>
								<tr>
									<th>{{$.Tr "Time"}}</th>
									<th>{{$.Tr "Quantity"}}</th>
									<th>{{$.Tr "Shift"}}</th>
									<th>{{$.Tr "Taker"}}</th>
								</tr>
							</thead>
							{{range .}}
								<tbody class="table-group-divider">
									{{with .Event}}
										<tr class="table-secondary">
											<td>{{$.Day.FmtEventTime .}}</td>
											<td colspan="3">{{.Summary}}</td>
										</tr>
									{{end}}
									{{range .Shifts}}
										{{if eq .ID $.Shift.ID}}
											<tr class="table-warning">
												<td>{{$.Day.FmtShiftTime .}}</td>
												<td>{{.Quantity}}</td>
												<td>{{.Name}} {{with .Note}}({{.}}){{end}}</td>
												<td>
													{{template "takeviews" .TakeViews $.Pad.Auth}}
													<div class="input-group">
														{{with $.TakerNames}}
															<select class="form-select" name="taker-name">
																{{if gt (len .) 1}}
																	<option></option>
																{{end}}
																{{range .}}
																	<option value="{{.}}">{{.}}</option>
																{{end}}
															</select>
														{{else}}
															<input type="text" class="form-control" name="taker-name" maxlength="64" placeholder="{{$.Tr "Name"}}">
														{{end}}
														<input type="text" class="form-control" name="taker-contact" maxlength="128" placeholder="{{$.Tr "Contact"}}">
													</div>
												</td>
											</tr>
										{{else}}
											<tr>
												<td>{{$.Day.FmtShiftTime .}}</td>
												<td>{{.Quantity}}</td>
												<td>{{.Name}} {{with .Note}}({{.}}){{end}}</td>
												<td>{{template "takeviews" .TakeViews $.Pad.Auth}}</td>
											</tr>
										{{end}}
									{{end}}
								</tbody>
							{{end}}
						</table>
						<button class="btn btn-primary" type="submit">
							{{if $.Apply}}
								{{$.Tr "Apply for shift"}}
							{{else}}
								{{$.Tr "Take shift"}}
							{{end}}
						</button>
					{{end}}
					<a class="btn btn-light" href="{{$.Pad.Link}}/day/{{FmtISODate .Begin}}">{{$.Tr "Cancel"}}</a>
				</div>
			</div>
		{{end}}
	</form>
{{end}}
