{{define "pad-content"}}
	{{with .Error}}
		<div class="alert alert-danger">{{.}}</div>
	{{end}}
	<form method="post">
		{{with .Day}}
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">{{FmtDate .Begin}}</h5>
					{{with .Groups}}
						<table class="table align-middle">
							<thead>
								<tr>
									<th>{{$.Tr "Begin"}}</th>
									<th>{{$.Tr "End"}}</th>
									<th>{{$.Tr "Quantity"}}</th>
									<th>{{$.Tr "Shift"}}</th>
									<th>{{$.Tr "Taker"}}</th>
								</tr>
							</thead>
							{{range .}}
								<tbody class="table-group-divider">
									{{with .Event}}
										<tr class="table-secondary">
											<td>{{$.Day.FmtDateTime .Start}}</td>
											<td>{{$.Day.FmtDateTime .End}}</td>
											<td colspan="3">{{.Summary}}</td>
										</tr>
									{{end}}
									{{range .Shifts}}
										{{if eq .ID $.Shift.ID}}
											<input type="hidden" name="id" value="{{.ID}}">
											{{with $.Day.Events}}
												<tr class="table-warning">
													<td colspan="5">
														<div>
															<div class="form-check">
																<input class="form-check-input"  id="uid" type="radio" name="event-uid" value="" {{if eq "" $.Shift.EventUID}}checked{{end}}>
																<label class="form-check-label" for="uid">
																	{{$.Tr "do not assign to an event"}}
																</label>
															</div>
															{{range .}}
																<div class="form-check">
																	<input class="form-check-input"  id="uid-{{.UID}}" type="radio" name="event-uid" value="{{.UID}}" {{if eq .UID $.Shift.EventUID}}checked{{end}}>
																	<label class="form-check-label" for="uid-{{.UID}}">
																		{{$.Day.FmtDateTimeRange .Start .End}}: {{.Summary}}
																	</label>
																</div>
															{{end}}
														</div>
													</td>
												</tr>
											{{end}}
											<tr class="table-warning" role="row"><!-- role is used in javascript functions -->
												<td>
													<input type="datetime-local" class="form-control" name="begin" onchange="updateEnd(this)" value="{{FmtISODateTime .Begin}}" min="{{$.MinDate}}T00:00" max="{{$.MaxDate}}T24:00">
												</td>
												<td>
													<input type="datetime-local" class="form-control" name="end" onchange="updateBegin(this)" value="{{FmtISODateTime .End}}" min="{{$.MinDate}}T00:00" max="{{$.MaxDate}}T24:00">
												</td>
												<td>
													<input type="number" class="form-control" size="3" min="1" max="64" name="quantity" value="{{.Quantity}}">
												</td>
												<td>
													<div class="input-group">
														{{$shiftname := .Name}}
														{{if $.Pad.ShiftNames}}
															{{with $.Pad.EditShiftNames}}
																<select class="form-select" name="name">
																	{{if gt (len .) 1}}
																		<option></option>
																	{{end}}
																	{{range .}}
																		<option value="{{.}}" {{if eq . $shiftname}}selected{{end}}>{{.}}</option>
																	{{end}}
																</select>
															{{else}}
																<em>{{$.Tr "no shifts available"}}</em>
															{{end}}
														{{else}}
															<input class="form-control" type="text" name="name" maxlength="64" value="{{.Name}}" placeholder="{{$.Tr "Shift name"}}">
														{{end}}
														<input class="form-control" type="text" name="note" maxlength="64" value="{{.Note}}" placeholder="{{$.Tr "Note"}}">
													</div>
												</td>
												<td>
													{{range .Takes}}
														<div class="input-group mb-1">
															<input type="text" class="form-control" name="taker-name-{{.ID}}"    maxlength="64"  value="{{.Name}}"    placeholder="{{$.Tr "Name"}}">
															<input type="text" class="form-control" name="taker-contact-{{.ID}}" maxlength="128" value="{{.Contact}}" placeholder="{{$.Tr "Contact"}}">
														</div>
													{{end}}
													{{range .Untaken}}
														<div class="input-group mb-1">
															<input type="text" class="form-control" name="new-taker-name"    maxlength="64"  placeholder="{{$.Tr "Name"}}">
															<input type="text" class="form-control" name="new-taker-contact" maxlength="128" placeholder="{{$.Tr "Contact"}}">
														</div>
													{{end}}
												</td>
											</tr>
										{{else}}
											<tr>
												<td>{{$.Day.FmtDateTime .Begin}}</td>
												<td>{{$.Day.FmtDateTime .End}}</td>
												<td>{{.Quantity}}</td>
												<td>{{.Name}} {{with .Note}}({{.}}){{end}}</td>
												<td>
													{{range $.Pad.TakerStrings .}}
														<div class="mb-1">{{.}}</div>
													{{end}}
												</td>
											</tr>
										{{end}}
									{{end}}
								</tbody>
							{{end}}
						</table>
						<button class="btn btn-primary" type="submit">{{$.Tr "Save changes"}}</button>
					{{end}}
					<a class="btn btn-light" href="{{$.Pad.Link}}/day/{{FmtISODate .Begin}}">{{$.Tr "Cancel"}}</a>
				</div>
			</div>
		{{end}}
	</form>
{{end}}
