{{define "pad-content"}}
	{{with .Error}}
		<div class="alert alert-danger">{{.}}</div>
	{{end}}
	<form method="post">
		{{with .Day}}
			<h5>{{FmtDate .Begin}}</h5>
			{{with .Groups}}
				<table class="table align-middle">
					<thead>
						<tr>
							<th>{{$.Tr "Time"}}</th>
							<th>{{$.Tr "Shift"}}</th>
							<th>{{$.Tr "Taker"}}</th>
						</tr>
					</thead>
					{{range .}}
						<tbody class="table-group-divider">
							{{with .Event}}
								<tr class="table-secondary">
									<td>{{FmtDateTimeRangeRef .Start .End $.Day.Begin}}</td>
									<td colspan="2">{{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}</td>
								</tr>
							{{end}}
							{{range .Shifts}}
								{{if eq .ID $.Shift.ID}}
									<tr class="table-danger" style="text-decoration: line-through" id="shift"><!-- #shift -->
										{{template "shift-cells" (MakeShiftCellsData $.Lang $.Pad $.Day .)}}
									</tr>
									<tr>
										<td colspan="3">
											<button class="btn btn-danger" type="submit">{{$.Tr "Delete shift"}}</button>
											<a class="btn btn-light" href="{{$.Pad.Link}}/day/{{FmtISODate .Begin}}">{{$.Tr "Cancel"}}</a>
										</td>
									</tr>
								{{else}}
									<tr>
										{{template "shift-cells" (MakeShiftCellsData $.Lang $.Pad $.Day .)}}
									</tr>
								{{end}}
							{{end}}
						</tbody>
					{{end}}
				</table>
			{{end}}
		{{end}}
	</form>
{{end}}
