{{define "pad-content"}}
	{{with .Error}}
		<div class="alert alert-danger">{{.}}</div>
	{{end}}
	<form method="post">
		{{with .Day}}
			<h5>{{FmtDate .Begin}}</h5>
			{{with .Groups}}
				<table class="table align-middle">
					<thead>
						<tr>
							<th>{{$.Tr "Time"}}</th>
							<th>{{$.Tr "Shift"}}</th>
							<th>{{$.Tr "Taker"}}</th>
						</tr>
					</thead>
					{{range .}}
						<tbody class="table-group-divider">
							{{with .Event}}
								<tr class="table-secondary">
									<td>{{FmtDateTimeRangeRef .Start .End $.Day.Begin}}</td>
									<td colspan="2">{{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}</td>
								</tr>
							{{end}}
							{{range .Shifts}}
								{{if eq .ID $.Shift.ID}}
									<tr class="table-primary" id="shift"><!-- #shift -->
										<td colspan="3">
											{{with $.Day.Events}}
												<div class="mb-2">
													<div class="form-check">
														<input class="form-check-input"  id="uid" type="radio" name="event-uid" value="" {{if eq "" $.Shift.EventUID}}checked{{end}}>
														<label class="form-check-label" for="uid">
															{{$.Tr "do not assign to an event"}}
														</label>
													</div>
													{{range .}}
														<div class="form-check">
															<input class="form-check-input"  id="uid-{{.UID}}" type="radio" name="event-uid" value="{{.UID}}" {{if eq .UID $.Shift.EventUID}}checked{{end}}>
															<label class="form-check-label" for="uid-{{.UID}}">
																{{FmtDateTimeRangeRef .Start .End $.Day.Begin}}: {{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}
															</label>
														</div>
													{{end}}
												</div>
											{{end}}
											<div class="row" role="row"><!-- role is used in javascript functions -->
												<div class="col-lg-3 mb-1">
													<div class="input-group">
														<span class="input-group-text">{{$.Tr "Begin"}}</span>
														<input type="datetime-local" class="form-control" name="begin" onchange="updateEnd(this)" value="{{FmtISODateTime .Begin}}" min="{{$.MinDate}}T00:00" max="{{$.MaxDate}}T24:00">
													</div>
												</div>
												<div class="col-lg-3 mb-1">
													<div class="input-group">
														<span class="input-group-text">{{$.Tr "End"}}</span>
														<input type="datetime-local" class="form-control" name="end" onchange="updateBegin(this)" value="{{FmtISODateTime .End}}" min="{{$.MinDate}}T00:00" max="{{$.MaxDate}}T24:00">
													</div>
												</div>
												<div class="col-lg-2 mb-1">
													<div class="input-group">
														<span class="input-group-text">{{$.Tr "Quantity"}}</span>
														<input type="number" class="form-control" min="1" max="64" name="quantity" value="{{.Quantity}}">
													</div>
												</div>
												<div class="col-lg-4 mb-1">
													<div class="input-group">
														{{$shift := .}}
														{{if $.Pad.EditAll}}
															<datalist id="shiftnames">
																{{range $.Pad.ShiftNames}}
																	<option value="{{.}}">
																{{end}}
															</datalist>
															<input class="form-control" type="text" name="name" maxlength="64" value="{{.Name}}" list="shiftnames" placeholder="{{$.Tr "Shift name"}}">
														{{else}}
															{{with $.Pad.EditShiftNames}}
																<select class="form-select" name="name">
																	{{if gt (len .) 1}}
																		<option></option>
																	{{end}}
																	{{range .}}
																		<option value="{{.}}" {{if eq . $shift.Name}}selected{{end}}>{{.}}</option>
																	{{end}}
																</select>
															{{else}}
																<em>{{$.Tr "no shifts available"}}</em>
															{{end}}
														{{end}}
														<input class="form-control" type="text" name="note" maxlength="64" value="{{.Note}}" placeholder="{{$.Tr "Note"}}">
														<div class="input-group-text">
															<input class="form-check-input mt-0"  id="paid" type="checkbox" name="paid" value="_" {{if .Paid}}checked{{end}}>
															<label class="form-check-label ms-2" for="paid">{{$.Tr "paid"}}</label>
														</div>
													</div>
												</div>
												<div class="TODO">
													<!-- use Takes (not TakeViews) because edit must view everything -->
													{{range .Takes}}
														<div class="input-group mb-1">
															<input type="text" class="form-control" name="taker-name-{{.ID}}"    maxlength="64"  value="{{.Name}}"    placeholder="{{$.Tr "Name"}}">
															<input type="text" class="form-control" name="taker-contact-{{.ID}}" maxlength="128" value="{{.Contact}}" placeholder="{{$.Tr "Contact"}}">
															<div class="input-group-text">
																<input class="form-check-input mt-0"  id="approved-{{.ID}}" type="checkbox" name="approved-{{.ID}}" value="_" {{if .Approved}}checked{{end}}>
																<label class="form-check-label ms-2" for="approved-{{.ID}}">ok</label>
															</div>
														</div>
													{{end}}
													{{range $index, $element := .Untaken}}
														<div class="input-group mb-1">
															<input type="text" class="form-control" name="new-name"    maxlength="64"  placeholder="{{$.Tr "Name"}}">
															<input type="text" class="form-control" name="new-contact" maxlength="128" placeholder="{{$.Tr "Contact"}}">
															<div class="input-group-text">
																<!-- checked by default because we have edit permission -->
																<input class="form-check-input mt-0"  id="new-approved" type="checkbox" name="new-approved" value="{{$index}}" checked>
																<label class="form-check-label ms-2" for="new-approved">ok</label>
															</div>
														</div>
													{{end}}
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="3">
											<button class="btn btn-primary" type="submit">{{$.Tr "Save changes"}}</button>
											<a class="btn btn-light" href="{{$.Pad.Link}}/day/{{FmtISODate .Begin}}">{{$.Tr "Cancel"}}</a>
										</td>
									</tr>
								{{else}}
									<tr>
										{{template "shift-cells" (MakeShiftCellsData $.Lang $.Pad $.Day .)}}
									</tr>
								{{end}}
							{{end}}
						</tbody>
					{{end}}
				</table>
			{{end}}
		{{end}}
	</form>
{{end}}
