{{define "pad-content"}}
	<script>
		function reset(element) {
			element.removeAttribute("min");
			element.checked = element.defaultChecked;
			element.value = element.defaultValue;
		}
		var index = 0; // index of first row, which is hardcoded
		function addRow(element) {
			index++;
			element.onchange = null;
			let row = element.closest('[role="row"]');
			let clone = row.cloneNode(true);
			reset(clone.querySelector('[name="quantity"]'));
			reset(clone.querySelector('[name="begin"]'));
			reset(clone.querySelector('[name="end"]'));
			reset(clone.querySelector('[name="name"]'));
			reset(clone.querySelector('[name="note"]'));
			reset(clone.querySelector('[name="paid"]'));
			let checkbox = clone.querySelector('[name="paid"]');
			checkbox.id = "paid-" + index;
			checkbox.value = index;
			row.after(clone);
		}
	</script>
	{{with .Error}}
		<div class="alert alert-danger">{{.}}</div>
	{{end}}
	<form method="post">
		{{with .Day}}
			<h5>{{FmtDate .Begin}}</h5>
			<table class="table align-middle">
				<thead>
					<tr>
						<th>{{$.Tr "Time"}}</th>
						<th>{{$.Tr "Shift"}}</th>
						<th>{{$.Tr "Taker"}}</th>
					</tr>
				</thead>
				{{range .Groups}}
					<tbody class="table-group-divider">
						{{with .Event}}
							<tr class="table-secondary">
								<td>{{FmtDateTimeRangeRef .Start .End $.Day.Begin}}</td>
								<td colspan="2">{{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}</td>
							</tr>
						{{end}}
						{{range .Shifts}}
							<tr>
								{{template "shift-cells" (MakeShiftCellsData $.Lang $.Pad $.Day .)}}
							</tr>
						{{end}}
						{{if eq .GetUID $.DefaultEventUID}}
							{{template "trs" $}}
						{{end}}
					</tbody>
				{{end}}
			</table>
		{{end}}
	</form>
{{end}}

{{define "trs"}}
	{{with $.Day}}
		<tr class="table-primary" id="shift"><!-- #shift -->
			<td colspan="3">
				{{with $.Day.Events}}
					<div class="mb-2">
						<div class="form-check">
							<input class="form-check-input" id="uid" type="radio" name="event-uid" value="" {{if eq $.DefaultEventUID ""}}checked{{end}}>
							<label class="form-check-label" for="uid">
								{{$.Tr "do not assign to an event"}}
							</label>
						</div>
						{{range .}}
							<div class="form-check">
								<input class="form-check-input"  id="uid-{{.UID}}" type="radio" name="event-uid" value="{{.UID}}" {{if eq $.DefaultEventUID .UID}}checked{{end}}>
								<label class="form-check-label" for="uid-{{.UID}}">
									{{FmtDateTimeRangeRef .Start .End $.Day.Begin}}: {{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}
								</label>
							</div>
						{{end}}
					</div>
				{{end}}
				<div class="row" role="row"><!-- role is used in javascript functions -->
					<div class="col-lg-3 mb-1">
						<div class="input-group">
							<span class="input-group-text">{{$.Tr "Begin"}}</span>
							<input class="form-control" type="datetime-local" name="begin" onchange="updateEnd(this)" value="{{FmtISODate $.Day.Begin}}T10:00" min="{{$.MinDate}}" max="{{$.MaxDate}}">
						</div>
					</div>
					<div class="col-lg-3 mb-1">
						<div class="input-group">
							<span class="input-group-text">{{$.Tr "End"}}</span>
							<input class="form-control" type="datetime-local" name="end" onchange="updateBegin(this)" value="{{FmtISODate $.Day.Begin}}T11:00" min="{{$.MinDate}}" max="{{$.MaxDate}}">
						</div>
					</div>
					<div class="col-lg-2 mb-1">
						<div class="input-group">
							<span class="input-group-text">{{$.Tr "Quantity"}}</span>
							<input class="form-control" type="number" name="quantity" min="1" max="64" value="1">
						</div>
					</div>
					<div class="col-lg-4 mb-1">
						{{if $.Pad.EditAll}}
							<!-- not in input-group because it would be the first element there, and the next element would be styled wrong -->
							<datalist id="shiftnames">
								{{range $.Pad.ShiftNames}}
									<option value="{{.}}">
								{{end}}
							</datalist>
						{{end}}
						<div class="input-group">
							{{if $.Pad.EditAll}}
								<input class="form-control" type="text" name="name" list="shiftnames" maxlength="64" placeholder="{{$.Tr "Shift name"}}" onchange="addRow(this)">
							{{else}}
								{{with $.Pad.EditShiftNames}}
									<select class="form-select" name="name" onchange="addRow(this)">
										{{if gt (len .) 1}}
											<option></option>
										{{end}}
										{{range .}}
											<option value="{{.}}">{{.}}</option>
										{{end}}
									</select>
								{{else}}
									<em>{{$.Tr "no shifts available"}}</em>
								{{end}}
							{{end}}
							<input class="form-control" type="text" name="note" maxlength="64" placeholder="{{$.Tr "Note"}}">
							<div class="input-group-text">
								<label><!-- easier than id with javascript -->
									<input class="form-check-input my-1 me-1" type="checkbox" id="paid-0" name="paid" value="0">
									{{$.Tr "paid"}}
								</label>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<button class="btn btn-primary" type="submit">{{$.Tr "Create shifts"}}</button>
				<a class="btn btn-light" href="{{$.Pad.Link}}/day/{{FmtISODate $.Day.Begin}}">{{$.Tr "Cancel"}}</a>
			</td>
		</tr>
	{{end}}
{{end}}
