{{define "pad-content"}}
	<form method="post">
		{{with .Day}}
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">{{FmtDate .Begin}}</h5>
					{{with .Groups}}
						<table class="table align-middle">
							<thead>
								<tr>
									<th>{{$.Tr "Time"}}</th>
									<th>{{$.Tr "Quantity"}}</th>
									<th>{{$.Tr "Shift"}}</th>
									<th>{{$.Tr "Taker"}}</th>
								</tr>
							</thead>
							{{range .}}
								<tbody class="table-group-divider">
									{{with .Event}}
										<tr class="table-secondary">
											<td>{{FmtDateTimeRangeRef .Start .End $.Day.Begin}}</td>
											<td colspan="3">{{with .Summary}}{{.}}{{else}}{{$.Tr "Unknown event"}} {{.UID}}{{end}}</td>
										</tr>
									{{end}}
									{{range .Shifts}}
										<tr>
											<td>{{FmtDateTimeRangeRef .Begin .End $.Day.Begin}}</td>
											<td>{{.Quantity}}</td>
											<td>{{.Name}} {{with .Note}}({{.}}){{end}}</td>
											<td>
												{{range .TakeViews $.Pad.Auth}}
													<div class="{{if eq .ID $.Take.ID}}bg-success bg-opacity-25 my-2 p-2 rounded{{end}}">
														{{.Name}}
														{{with .Contact}}
															({{.}})
														{{end}}
														{{if not .Approved}}
															<span class="badge bg-warning">{{$.Tr "not yet approved"}}</span>
														{{end}}
													</div>
												{{end}}
											</td>
										</tr>
									{{end}}
								</tbody>
							{{end}}
						</table>
						<button class="btn btn-primary" type="submit">{{$.Tr "Approve take"}}</button>
					{{end}}
					<a class="btn btn-light" href="{{$.Pad.Link}}/day/{{FmtISODate .Begin}}">{{$.Tr "Cancel"}}</a>
				</div>
			</div>
		{{end}}
	</form>
{{end}}
